body {
    font-family: 'Source Code Pro', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
}

.slider-container {
    margin-bottom: 20px;
}

#wordCountSlider {
    width: 300px;
}

.quote-display {
    margin-bottom: 20px;
    font-size: 24px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap; /* Ensure spaces are preserved */
}

.quote-input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}

.stats {
    margin-top: 20px;
    font-size: 18px;
}

.correct {
    color: white;
    background-color: green;
}

.incorrect {
    color: red;
}

.current {
    border-left: 2px solid black;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { border-color: black; }
    50% { border-color: transparent; }
    100% { border-color: black; }
}
.mode-selection {
    margin-bottom: 20px;
    text-align: center;
}

.mode-selection button {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.mode-selection button.active {
    background-color: #45a049;
}
